body {
    padding: 0 2%;
}

.blog-header {
    margin-top: 44px;
}

.blog-header h1 {
    font-family: var(--font1);
    font-size: 2rem;
    margin-top: 20px;
}

.blog-header .blog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.blog-header p {
    font-family: var(--font1);
    max-width: 444px;
    margin-top: 10px;
    margin-bottom: 7.3125rem;
    font-size: 0.9375rem;
}

.blog-links a {
    color: var(--clr6);
    font-family: var(--font2);
    font-size: 1.125rem;
}

.blog-links a:last-of-type {
    text-decoration: underline;
    font-weight: bold;
}


/* Blog Article style */

.featured-blog {
    min-height: 404px;
    max-width: 979px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0 auto;
}

.featured-blog img {
    width: 100%;
}

.featured-blog h2 {
    font-size: 28px;
    font-family: var(--font2);
}

.featured-blog div:last-of-type {
    background-color: var(--clr1);
    padding: 2rem;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    max-width: 979px;
    margin: 92px auto 0 auto;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.blog {
    cursor: pointer;
    text-decoration: none;
}


/*To remove the default active link color when clicking the thumbmail*/
.blog:active {
    color: var(--clr6);
}


.blog-grid .blog-img {
    width: 100%;

}

.blog-grid .blog-details div {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.blog-grid .blog-details img {
    margin-right: 8px;
}




.blog-grid .blog-details h3 {
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 500;
    color: var(--clr6);
}



/* Responsive */
@media(min-width: 700px) {
    .blog-header {
        margin-top: 44px;
    }

    .blog-header h1 {
        font-size: 3.125rem;
    }

    .blog-header p {
        font-family: var(--font1);
        max-width: 444px;
        margin-top: 10px;
        margin-bottom: 7.3125rem;
        font-size: 1rem;
    }

    /* Blog Article style */

    .featured-blog {
        flex-direction: row;
    }

    .featured-blog h2 {
        font-size: 35px;
    }

    .featured-blog div:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .blog-grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .blog-grid .blog-details h3 {
        font-size: 20px;
    }
}