.blog-page-links {
    padding: 3rem 0;
    text-align: center;
}

.blog-page-links a:last-of-type {
    font-weight: bold;
}

.blog-page-links a {
    color: var(--clr6);
    font-family: var(--font1);
    font-size: 16px;
}

.blog-page-instruc {
    font-family: var(--font1);
}

.blog-page-header {
    padding: 0 1rem;
}

.blog-page-article {
    padding: 0 1rem;
}

.blog-page-article h1 {
    font-family: var(--font1);
    font-size: 25px;
    margin: 2rem 0;
    text-align: center;
}

.blog-page-instruc h2 {
    font-size: 20px;
}

.blog-page-instruc ul li,
.blog-page-instruc ol li {
    font-size: 15px;
    margin-left: 1rem;
    margin-bottom: 8px;
}

.blog-page-instruc ul,
ol {
    margin-top: 0.75rem;
}

.blog-page-instruc_row {
    margin-bottom: 1.5rem;
}

.blog-page-instruc div:first-of-type {
    margin-top: 2.5rem;
}

.blog-page-article {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

iframe {
    width: 100%;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* To make the X & Instagram color black */
.socials :nth-child(1),
.socials :nth-child(2) {
    filter: invert();
}

@media(min-width: 768px) {
    .blog-page-links a {
        font-size: 18px;
    }

    .blog-page-article h1 {
        font-size: 30px;
    }

    .blog-page-instruc h2 {
        font-size: 25px;
    }

    .blog-page-instruc ul li,
    .blog-page-instruc ol li {
        font-size: 16px;
    }

    iframe {
        width: 100%;
    }

    .blog-page-article {
        max-width: 600px;
        margin: 0 auto;
        position: relative;
    }

    .socials {
        position: fixed;
        display: flex;
        row-gap: 1rem;
        flex-direction: column;
        left: 30px;
        top: 480px;
    }

    /* To make the X & Instagram color black */
    .socials :nth-child(1),
    .socials :nth-child(2) {
        filter: invert();
    }

}


@media(min-width: 1100px) {
    .socials {
        left: 150px;
    }
}