.lastest-meals {
	/* background-color: red; */
	padding: 1rem 1rem 0 1rem;
	position: relative;
}

.swiper {
	min-height: 290px;
}

.lastest-meals h2 {
	font-family: var(--font1);
	font-size: 1.25rem;
	letter-spacing: 2%;
	margin-bottom: 20px;
}

.swiper-slide .card {
	border-radius: 5px;
}

.card .food-img {
	width: 14.875rem;
	height: 10.25rem;
	background-size: cover;
	background-position: center;
}

.card {
	background-color: var(--clr13);
	padding: 10px;
	border-radius: 10px;
	width: 15.875rem;
	height: 15.3125rem;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.card .card-content h3 {
	font-family: var(--font1);
	font-size: 0.9375rem;
	font-weight: 500;
}

.card .card-content span {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 0.8125rem;
	font-family: var(--font1);
}

.swiper-pagination .swiper-pagination-bullet {
	background-color: var(--clr1);
}

.bg2 {
	bottom: 0px;
	position: absolute;
	left: 0px;
	right: 0;
	display: none;
	background-color: var(--clr10);
	width: 100%;
	min-height: 217px;
	z-index: -1;
}

a {
	text-decoration: none;
	color: var(--clr);
}

/* Responsive */

@media (min-width: 968px) {
	.bg2 {
		display: block;
	}
}

@media (min-width: 768px) {
	.lastest-meals h2 {
		font-family: var(--font1);
		font-size: 1.5625rem;
		letter-spacing: 2%;
		margin-bottom: 20px;
		margin-top: 100px;
	}

	.card .card-content h3 {
		font-size: 1rem;
	}

	.card .card-content span {
		font-size: 0.875rem;
	}
}
