.main {
	min-height: 100vh;
	padding: 0 2rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.main p {
	max-width: 552px;
	font-family: var(--font1);
	font-size: 15px;
	margin-top: 10px;
}

.main h1 {
	font-size: 2rem;
	font-family: var(--font1);
	margin-top: 2rem;
}

.search-field {
	margin-top: 30px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.search-field input {
	max-width: 100%;
	width: 100%;
	height: 45px;
	border-radius: 8px;
	border: none;
	outline: none;
	background-color: var(--clr10);
	padding: 10px;
}

.search-field button {
	width: 57.68px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border: none;
	outline: none;
	background-color: var(--clr1);
	cursor: pointer;
}

.search-field input::placeholder {
	color: #616161;
	font-family: var(--font1);
}

.search-field input:focus-visible {
	border: 1px solid var(--clr12);
}

.search-field button:active {
	box-shadow: 2px 2px 3px var(--clr1);
}

.hero-img {
	width: 300px;
	height: auto;
}

/* Responsive */

@media (min-width: 768px) {
	.main {
		padding: 0 2rem;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		gap: 40px;
	}

	.main p {
		font-size: 16px;
		margin-top: 10px;
	}

	.main h1 {
		font-size: 3.15rem;
		font-family: var(--font1);
		margin-top: 0;
	}

	.search-field input {
		max-width: 100%;
		width: 80%;
		height: 56px;
		border-radius: 8px;
	}

	.search-field button {
		height: 57.68px;
	}

	.hero-img {
		width: 400px;
		height: auto;
	}
}
