*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

:root {
    --clr1: #F5D357;
    --clr2: #FFF3ED;
    --clr3: #D9D9D9;
    --clr4: #FFFFFF;
    --clr5: #D9D9D9;
    --clr6: #000000;
    --clr7: #242221;
    --clr8: #CFCFCF;
    --clr9: #FFF5DA;
    --clr10: #F2DCBA;
    --clr11: #6B6B6B;
    --clr12: #AAAAAA;
    --clr13: #f8dd84;

    --font1: 'Poppins', sans-serif;
    --font2: 'Pontano Sans', sans-serif;
}


body {
    min-height: 100vh;
    background-color: var(--clr2);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.highlight {
    color: var(--clr1);
    font-weight: bold;
}